body 
{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.nav
{
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    padding-top: 0px !important;
}
.nav ul li 
{
    
    display: inline-block;
    padding: 10px 25px;
  
    
}
.nav a 
{
    color: rgb(233, 241, 235);
    text-decoration: none;
    list-style-type: none;
}

.nav1 {
    background-image: linear-gradient(to right, red,orange,green,blue,indigo,violet);
}

#cool {

    background-image: linear-gradient(to right, red,orange,green,blue,indigo,violet);
}

body {
    background-image: url('czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvdjcyMi1hdW0tMzFiXzFfMS5qcGc.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%; 
    margin: 0; 
    padding: 0; 
}


.container-fluid{
    background-image: linear-gradient(to right, red,orange,green,blue,indigo,violet);
}

.dropdown:hover .dropdown-menu 
{
    display: block;
}
.footer-navbar li 
{
    display: bloack;
    list-style-type: none ;
}


.footer-navbar a 
{
    text-decoration: none;
    color: white;

}

@media only screen and (max-width:553px)
{
.nav ul 
{
    margin-left: 0% !important;
}

    .nav ul li 
    {
        display: block;
        padding: 5px 25px;
    }   
}


